<!DOCTYPE html>
<html>
    <head>
        <title>The Forgotten Clue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
    <body>
        <h1>The Forgotten Clue</h1>
        <h2>a <a href="https://github.com/emmajuettner/NaNoGenMo2023">procedural mystery</a></h2>
        <hr>
        {{ novel }}
        <hr>
        <h2>THE END</h2>
        <div style="padding-top: 5em;">
    </body>
</html>
